.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post { /*Irá estilizar somente o post que contêm outro post antes(acima)*/
  margin-top: 2rem;
}

.post > header { /* > irá estilizar somente o header que está dentro(diretamente) do post*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  color: var(--gray-400);
  font-size: 0.875rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo strong {
  display: block; /*Força que os elementos quebrem a linha e não fiquem em*/

  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  display: block; /*Força que os elementos quebrem a linha e não fiquem em*/

  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6;
}

.content {
  margin-top: 1.5rem;

  color: var(--gray-300);
  line-height: 1.6;
}

.content p {
  margin-top: 1rem;
}

.content a {
  color: var(--green-500);
  font-weight: bold;
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
  color: var(--gray-100);
  line-height: 1.6;
}

.commentForm textarea {
  background: var(--gray-900);

  resize: none;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;

  color: var(--gray-100);
  line-height: 1.4;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer { /*focus-within - se houver um foco em qualquer elemento dentro do commentForm, será aplicado os estilos seguintes no footer*/
  visibility: visible;
  max-height: none;
}

.commentForm button[type="submit"] { /*Irá selecionar somente os buttons do commentForm que contém type="submit"*/
  background: var(--green-500);

  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border: 0;
  border-radius: 8px;

  color: var(--white);
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.1s;
}

.commentForm button[type="submit"]:not(:disabled):hover { /*O hover só irá ser aplicado caso o button não(not) esteja desabilitado(disabled)*/
  background: var(--green-300);
}

.commentForm button[type="submit"]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.commentList {
  margin-top: 2rem;
}
